@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
html{
	scroll-behavior: smooth;
}

body {
	background-color: #000;
}

.bodyCon p {
  margin: 0px;
}

.lineMask {
  overflow: hidden;
}

/* .custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 9999;
  mix-blend-mode: difference;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.cursor-text {
  font-size: 5px;
  font-weight: 900;
  letter-spacing: 1px;
  display: none;
  color: #000;
} */

.midMenu {
  left: 50%;
  transform: translate(-50%, -50%);
}

.nextpjx {
  background-image: linear-gradient(to bottom, transparent, rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.5), 
                  rgb(0, 0, 0, 0.9), #000000);
}

.navStyle {
	top: 0;
	z-index: 3;
  background-color: rgb(0, 0, 0, 0.6);
}

.nav-link {
	transition: 0.7s ease;
}
/* .nav-link:hover {
	color: #17B486;
} */

.nav-linkMob:hover {
	color: #eee;
}

.nav-linkMob {
  transition: 0.7s ease;
}

.link-active {
	border-bottom: 2px solid #17b486;
}

/* .heroStyle {
    height: calc(100vh - 12rem);
} */

.arrStyle {
    animation: bounce 3s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: infinite;
}

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, 20px, 0);
    }
}


.btnStyle {
    background: transparent;
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: #fff;
    overflow: hidden;
    color: #fff;
    transition: color 0.4s 0.2s ease-out;
    text-align: center;
  }
  
  .btnStyle span {
    margin: 5px 15px;
  }
  
  .btnStyle::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.6s ease-out;
    z-index: -1;
  }
  
  .btnStyle:hover {
    color: #000;
  }
  
  .btnStyle:hover::before {
    box-shadow: inset 0 0 0 10em #fff;
  }
 
  .mob-menu {
    position: relative;
    width: 55px;
    height: 55px;
    background-color: #17B486;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
  }

  .btnu {
    height: 55px;
    width: 160px;
    border: 1px solid #000;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease-out;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    font-weight: 500;
  }

  .btn-text {
    width: 65%;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    transition: all 0.2s ease-out;
    /* background-color: #000; */
  }

  .btn-icon {
    width: 35%;
    /* background-color: #000; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-out;
    border-radius: 8px 0 0 8px;
  }

  .btn-icon svg {
    fill: #000;
  }

  .btnu:hover {
    border: 1px solid #fff
  }

  .btnu:hover .btn-icon {
    width: 100%;
    background: #fff;
  }
  
  .btnu:hover .btn-text {
    width: 0;
    height: 0;
    display: none;
    transition: all 0.2s ease-out;
    background: #fff;
  }

  .btnu:hover .btn-icon svg {
    fill: #000;
  }

  .conBarStyle {
    height: calc(100vh - 25rem);
  }

  .menuBtn:hover {
    cursor: pointer;
    color: #17B486;
  }

  .menuBtn2:hover {
    cursor: pointer;
    color: #eee;
  }

  .menuStyle {
    height: calc(100vh - 6rem);
  }

  .mobMenuStyle {
    opacity: 1;
  }

  /*  */

  